In [128]:
import pandas as pd

file = pd.read_csv('new.csv', index_col = 'Unnamed: 0')
df = pd.DataFrame(file)
df

   id    username                email  is_active           created_at
0   1  admin user       admin@user.com          1  2020-01-20 09:16:36
1   2         bis      admin@admin.com          1  2020-02-02 15:41:09
2   3    bishalty  72bct615@wrc.edu.np          1  2020-02-03 16:27:52
3   8         vis          bis@vis.com          1  2020-02-12 17:33:21
4   9        bis1         bis@bism.com          1  2020-02-12 17:39:34
5  10        qwer           qwe@qw.com          1  2020-02-12 17:42:45
6  12       qwert          qwe@qwe.com          1  2020-02-18 14:38:47

In [129]:
df['created_at'] = pd.to_datetime(df['created_at']).dt.strftime('%m-%d')

In [131]:
df['count'] = df['is_active']
df = df[['created_at','count']]

In [132]:
df = df.groupby(['created_at']).count()
df

            count
created_at
01-20           1
02-02           1
02-03           1
02-12           3
02-18           1

In [133]:
dict = df.to_dict()

In [134]:
dict

{'count': {'01-20': 1, '02-02': 1, '02-03': 1, '02-12': 3, '02-18': 1}}